<mat-card>
    <mat-card-title>Login - Héroes</mat-card-title>
    <mat-card-content>
        <mat-form-field color="warn">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field color="warn">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput>
        </mat-form-field>

        <div class="button">
            <button mat-raised-button color="warn" (click)="login()">Ingresar</button>
        </div>

    </mat-card-content>
</mat-card>